<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cocoaappswift00.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>717DBD4E1D2A4BDE00F7E2E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>717DBD5F1D2A4BDE00F7E2E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>717DBD6A1D2A4BDE00F7E2E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
